$black-color: #131313;
$secondary-color: #d1cac8;
$red-color: rgb(243, 72, 100);
//Fonts 
$hind-font: 'Hind Siliguri',
sans-serif;
$roboto: 'Roboto',
sans-serif;
$poppins: 'Poppins',
sans-serif;
//Transitions 
$ease: all 0.2s ease;
$ease-in-out: all 0.2s ease-in-out;